.team-overview {
    color: var(--pk-text-01);
    font-size: var(--pk-font-size-xl);
    font-family: var(--pk-font-base-semibold);
    margin-bottom: var(--pk-spacing-l);
}

.content{
    display: block;
}

.team-overview .team-overview_group {
    margin-bottom: var(--pk-spacing-xl2);
}

.teams-overview-team-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: var(--pk-spacing-xl);
}

.team-wrap {
    display: flex; 
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

.team-name {
    padding-bottom: 50px; 
    color: black;
}

.team {
    align-items: center;
}

.team-item img {
    width: 50px;
    height: 50px;
}

.team-icon {
    width: 50px;
    height: 50px;
}

header {
    font-size: 50px;
}

.team-overview-label {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.team-header {
    background-color: #da3339;
    background-image: url(https://img.uefa.com/imgml/uefacom/performancezone/teams-bg/Austria_Desktop.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 300px;
    padding: 30px;
    color: white;
}


.team-header-content {
    padding-bottom: 30px;
}

.time-match {
    margin-top: 10px;
    margin-bottom: 10px;
}

h6.MuiTypography-root.MuiTypography-subtitle1.match-group.css-10wpov9-MuiTypography-root {
    color: gray;
}
